*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

html{
    font-size: 100%;
}

body{
   background-color:#f6f8f9;
}


.black {
  color: black;
}

header img {
  height: 80%;
  vertical-align: left;
}

header h1{
    display: inline-block;
    height: 100%;
}

.white{
    background-color: white;
}



#blue-button{
    background-color: #47adf1;
    color: white;
}

.pulsanti{
    width: 80%;
    margin: 0 auto;
    height: 300;
}


  

