*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

html{
    font-size: 130%;
    font-style:normal;
}

body{
   background-color:#f6f8f9;
}


.black {
  color: black;
}

header img {
  height: 80%;
  vertical-align: left;
}

header h1{
    display: inline-block;
    height: 100%;
}

.white{
    background-color: white;
}



#blue-button{
    background-color: #47adf1;
    color: white;
}

.pulsanti{
    width: 80%;
    margin: 0 auto;
    height: 300;
    border-bottom: 1px #f6f8f9;
    
}

main{
    width: 80%;
    margin: 0 auto;
}

.editorial{
    display: inline-block;
    background-color:#46abe9;
    padding: 5px;
    border-radius: 25%;
    color: white;
    font-style: italic;
}
.Q1{
    display: inline-block;
    background-color:#9c72e4;
    padding: 5px;
    border-radius: 25%;
    color: white;
    font-style: oblique;
}
.recruiting{
    display: inline-block;
    background-color:#65c0a9;
    padding: 5px;
    border-radius: 25%;
    color: white;
    font-style: italic;
}
.mobile{
    display: inline-block;
    background-color:#f29e33;
    padding: 5px;
    border-radius: 25%;
    color: white;
    font-style: oblique;
}
.website{
    display: inline-block;
    background-color:#d863a0;
    padding: 5px;
    border-radius: 25%;
    color: white;
    font-style: italic;
}
.sales{
    display: inline-block;
    background-color:#b0c926;
    padding: 5px;
    border-radius: 25%;
    color: white;
    font-style: oblique;
}

  

